.start_span_active{
    opacity: 1;
}

.start_span {
    opacity: 0;
}

#form_new_student {
    display: flex;
    flex-direction: column;
}
#form_new_student label {
    margin: 10px 0 10px 0;
}

#container {
    padding: 10% 25% 0 25%;
    
}